<%= link_to "Back to all movies", movies_path %><br/>
<h1>Rotten Mangoes</h1>
<h2>Users</h2>
<%= paginate @users %>
<tbody>
  <% @users.each do |user| %>
    <tr>
      <th><%= user.full_name %></th>
      <th><%= user.email%></th>
      <th> <%= user.admin %></th>
      <% if current_user and current_user.admin  %>
        <%= link_to "edit", edit_user_path(user) %> | <%= link_to "switch to user", admin_user_switch_path(user) %> | <%= link_to "delete", user_path(user), method: :delete, confirm: "You sure?" %>
      <% end %>
    </tr>
  <% end %>
</tbody>
